<html>
<head>
	<title>Clemson University</title>
	<link rel="stylesheet" href="reset.css" type="css/style.css" />
</head>
<body>
	<div class="size1of2">
		<div>Clemson University</div>
</div>
</body>
</html>