!!!
%html
  %head
    %title BlueIon
    %link{:href => "/assets/welcome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/welcome.js", :rel => "javascript"}
  %body
    .navbar
      .container
        .row-nav
          .col-sm-1.col-sm-offset-7
            .subscribe
              %img{:alt => "subscribe", :src => "assets/subscribe1.png"}
          .col-sm-4
            .appear &#8286;
            %img.hi-icon-wrap.hi-icon-effect-1.hi-icon-effect-1a{:alt => "hi-icon", :src => "assets/facebook.png"}
            %img{:alt => "hi-icon", :src => "assets/twitter.png"}
            %img{:alt => "hi-icon", :src => "assets/yellow.png"}
            %img{:alt => "hi-icon", :src => "assets/youtube.png"}
  
    / Collect the nav links, forms, and other content for toggling
    .dropdown
      .container
        .row-dropdown
          .col-sm-12.col-sm-offset-1
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %img{:src => "assets/sk8t.png"}/
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Tony Hawk Foundation
                    %li
                      %a{:href => "#"} Rodney Mullen
                    %li
                      %a{:href => "#"} Ray Barbee Talks
                    %li.divider
                    %li
                      %a{:href => "#"} More News
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %img{:src => "assets/buckey.png"}/
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Lance Mountain
                    %li
                      %a{:href => "#"} Rodney Mullen
                    %li
                      %a{:href => "#"} Steve Caballero
                    %li
                      %a{:href => "#"} Tommy Guerrero
                    %li.divider
                    %li
                      %a{:href => '#'} More Boarders
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %img{:src => "assets/boards.png"}/
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Boards
                    %li.divider
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %img{:src => "assets/contactus.png"}/
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Submit
              / /.navbar-collapse
            / /.container-fluid
    
  .carousel
    .container
      .row-carousel
        .col-sm-10.col-sm-offset-1
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .item.active
                %img{:alt => "main", :src => "assets/main.png"}/
              .item
                %img{:alt => "skate", :src => "assets/skate.png"}/
              .item
                %img{:alt => "dude", :src => "assets/dude.png"}/
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right
          .row-indicator        
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .new
      .container
        .row-news
          .col-sm-12.col-sm-offset-1
            .news1.col-sm-4
              %h3 Ray Barbee Talks ‘Ban This’
              %br/
              %span.newsdate2
                %h6 Oct 4, 2013
              %br/
              %span.newsmessage2
                %p.lead Since filming is in full swing for the Vans video Adventures With Chris has taken the opportunity to sit some of the team down to look behind the skating of some of their earlier parts. Today we sit down Ray Barbee, one of the smoothest guys to ever step on a skateboard and Chris’ childhood idol...
              %span.read
              %figcaption
                %h3
                %button.btn.btn-primary.btn-default.active.buttonstyle{:type => "button buttonstyle"} Read More
            .news2.col-sm-4
              %h3 Ray Barbee Talks ‘Ban This’
              %br/
              %span.newsdate2
                %h6 Oct 4, 2013
              %br/
              %span.newsmessage2
                %p.lead Since filming is in full swing for the Vans video Adventures With Chris has taken the opportunity to sit some of the team down to look behind the skating of some of their earlier parts. Today we sit down Ray Barbee, one of the smoothest guys to ever step on a skateboard and Chris’ childhood idol...
              %span.read
            .news3.col-sm-4
              %h3 Ray Barbee Talks ‘Ban This’
              %br/
              %span.newsdate2
                %h6 Oct 4, 2013
              %br/
              %span.newsmessage2
                %p.lead Since filming is in full swing for the Vans video Adventures With Chris has taken the opportunity to sit some of the team down to look behind the skating of some of their earlier parts. Today we sit down Ray Barbee, one of the smoothest guys to ever step on a skateboard and Chris’ childhood idol...
              %span.read

    .boarders
      .container
        .row-boarders
          .col-sm-12.col-sm-offset-1

            .boarder1
              %img{:alt => "figure", :src => "assets/rodney.png"}
              %figcaption
                %h3
                %button.btn.btn-primary.btn-default.active.buttonstyle{:type => "button buttonstyle"} Bio
            .boarder2
              %img{:src => "assets/lance.png"}
            .boarder3
              %img{:src => "assets/steve.png"}
            .boarder4
              %img{:src => "assets/tommy.png"}
    .boards
      .container
        .row-boards
          .col-sm-10.col-sm-offset-1
            #myCarousel.carousel.slide
              / Carousel items
              .carousel-inner
                .item.active
                  .row-fluid
                    .span3
                      %img{:alt => "Image1", :src => "assets/board1.png",}/
                      %img{:alt => "Image2", :src => "assets/board2.png",}/
                      %img{:alt => "Image3", :src => "assets/board3.png",}/
                      %img{:alt => "Image4", :src => "assets/board4.png",}/
                      %img{:alt => "Image5", :src => "assets/board5.png",}/
                      %img{:alt => "Image6", :src => "assets/board6.png",}/
                      %img{:alt => "Image7", :src => "assets/board7.png",}/
                      %img{:alt => "Image8", :src => "assets/board8.png",}/
                      %img{:alt => "Image9", :src => "assets/board9.png",}/
                      %img{:alt => "Image10", :src => "assets/board10.png",}/
                      %img{:alt => "Image1", :src => "assets/board1.png",}/
                      %img{:alt => "Image2", :src => "assets/board2.png",}/
                      %img{:alt => "Image3", :src => "assets/board3.png",}/
                      %img{:alt => "Image4", :src => "assets/board4.png",}/
                .item
                  .row-fluid
                    .span3
                      %img{:alt => "Image1", :src => "assets/board1.png",}/
                      %img{:alt => "Image2", :src => "assets/board2.png",}/
                      %img{:alt => "Image3", :src => "assets/board3.png",}/
                      %img{:alt => "Image4", :src => "assets/board4.png",}/
                      %img{:alt => "Image5", :src => "assets/board5.png",}/
                      %img{:alt => "Image6", :src => "assets/board6.png",}/
                      %img{:alt => "Image7", :src => "assets/board7.png",}/
                      %img{:alt => "Image8", :src => "assets/board8.png",}/
                      %img{:alt => "Image9", :src => "assets/board9.png",}/
                      %img{:alt => "Image10", :src => "assets/board10.png",}/
                      %img{:alt => "Image1", :src => "assets/board1.png",}/
                      %img{:alt => "Image2", :src => "assets/board2.png",}/
                      %img{:alt => "Image3", :src => "assets/board3.png",}/
                      %img{:alt => "Image4", :src => "assets/board4.png",}/
                  / /row-fluid
                / /item
              / /carousel-inner
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
              %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
              %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
            / /myCarousel
    .forms
      .container
        .row-forms
          .col-sm-10.col-sm-offset-1
            .row.contactformstyle
              .contact-here
                .col-sm-12.contacttext
                  .col-sm-3
                    %h3.contacttitle
                      Contact Us for More Information
                      %h3
                        %h6.contactinfo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper nulla ut odio scelerisque varius. Phasellus dui nunc, lacinia at vehicula congue, vehicula nec tellus. Morbi dignissim rutrum lorem at tincidunt.
                        %ul.contactinfosocialicons
                          %img.confacbookicon{:src => "assets/blackfacebook.png"}/
                          %img.conwordpressicon{:src => "assets/blackyellow.png"}/
                          %img{:class => "contwittericon.png", :src => "assets/blacktwitter.png"}/
                          %img{:class => "conyoutubeicon.png", :src => "assets/blackyoutube.png"}/
                  .col-sm-3.form
                    %ul.form
                      %li.name
                        %input.form-control.namestyle{:placeholder => "Name", :type => "text"}/
                      %li.email
                        %input.form-control.email.style{:placeholder => "Email", :type => "text"}/
                      %li.message
                        %input.form-control.input-lg.yourmessagestyle{:placeholder => "Your Message", :type => "text"}/
                      %button.btn.btn-6.btn-6d.active.buttonstyle{:type => "button buttonstyle"} Submit
