<h3>Let's edit a blog update!</h3>
<a href="/">Back</a>


<form action="/edit_blog/<%= @blog.id %>" method="post">
	
	<input type="hidden" name="_method" value="put">
	<label for="title">Blog Title</label>
	<input type="text" id="title" name="blog[title]" value="<%= @blog.title %>">
	<br>
	<textarea name="blog[blog]" rows="10" cols="50" value="<%= @blog.blog %>">
	<!-- <input type="text" id="textarea" name="blog[blog]"> -->
	<input type="submit" value ="Edit Blog">
</form>